
# Exclude output folder
output/

# Exclude .vscode folder from every directory
**/.vscode/

# Exclude .exe files
*.exe

# Exclude .env files
*.env

# Exclude .class files
*.class

# Exclude .json files
*.json